<div class="container">
  <!--  CARD TEST-->
  <div class="card_flex">
    <card-user class="card-item" *ngFor="let user of users" [user]="user" (edit)="edit($event)">
    </card-user>
  </div>

  <!--  CARD WRAPPED-->
  <div class="card_flex">
    <app-card *ngFor="let user of users"
              [user]="user">
    </app-card>
  </div>

  <!-- MDN TABLE - pure html -->
  <table>
    <thead>
    <tr>
      <th colspan="2">The table header</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>The table body</td>
      <td>with two columns</td>
    </tr>
    </tbody>
  </table>

  <!-- LIT COMPOSED -->
  <custom-table title="statico">
    <custom-table-head slot="th" columns=[1,2,3]></custom-table-head>
    <custom-table-row slot="tr" items="[1,2,3]"></custom-table-row>
  </custom-table>

  <!-- LIT RIGHT APPROACH -->
  <custom-table-standard columns=[1,2,3] items="[1,2,3]"></custom-table-standard>
</div>
